<h3 mat-dialog-title>
  Новая задача
</h3>

<mat-dialog-content>
  <form [formGroup]="newTodo" >
    <mat-form-field appearance="outline">
      <mat-label>Название задачи...</mat-label>
      <input matInput formControlName="text" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Категория</mat-label>
      <mat-select name="todo" formControlName="project_title">
        <mat-option *ngFor="let title of data.categories" [value]="title">
          {{ title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="">

    </mat-form-field>
  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button (click)="sendData()">
    Ок
  </button>
</div>