<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ project.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider>
  </mat-divider>
  <mat-card-content>
    <mat-selection-list>
      <mat-list-option 
        checkboxPosition="before"
        *ngFor="let todo of project.todos"
        (click)="state.changeTodoStatus(todo, project.id)"
        [selected]="todo.isCompleted"
      >
        {{ todo.text }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
