<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ project.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-selection-list>
      <mat-list-option 
        checkboxPosition="before"
        *ngFor="let todo of project.todos"
        (selectedChange)="changeStatus(todo, project.id)"
      >
        {{ todo.text }}
        {{ todo.isCompleted }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>